/* ----------------- fonts -----------------*/
.inter-texto{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* ----------------- estilos -----------------*/
.alert-mensaje{
  align-items: center;
  color: #6a5acd; /* Púrpura claro */
  display: flex;
  font-weight: 300;
  margin: 10px;
  padding: 10px;
}

.alerta-botones{
  display: flex;
  flex-flow: column;
  padding: 20px;
  width: 70%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  background-color: #add8e6; /* Celeste */
  font-family: 'Inter';
}


.botones-encriptar{
  align-items: space-between;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-copiar{
  background-color: transparent;
  border: 1px solid #6a5acd; /* Púrpura claro */
  border-radius: 50px;
  color: #6a5acd; /* Púrpura claro */
  cursor: pointer;
  display: none;
  margin: 25px;
  padding: 20px;
  width: 80%;
}
/* .btn-copiar:focus{
  background-color: plum;
} */

.btn-desencriptar{
  background-color: #e6e6fa; /* Púrpura claro */
  border: 1px solid #6a5acd; /* Púrpura claro */
  border-radius: 50px;
  color: #6a5acd; /* Púrpura claro */
  cursor: pointer;
  margin: 5px;
  padding: 20px;
  width: 50%;
}

.btn-encriptar{
  background-color: #4169e1; /* Azul real */
  border: 0;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  margin: 5px;
  padding: 20px;
  width: 50%;
}


.contenedor{
  background-color: #d3d3d3; /* Gris claro */
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  min-height: 100vh;
  margin: 0;
}

footer{
  color: lightslategrey;
  font-size: 12px;
  font-weight: 300;
  margin: 5px;
  text-align: center;
  width: 100%;
}

.marco-interno{
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  margin: 10px;
}

header{
  display: flex;
  flex-flow: row;
  margin: 10px;
  width: 100%;
}

h1{
  color: #4169e1; /* Azul real */
  font-size: 20px;
}

.imagen-mensaje{
  display: flex;
  margin-bottom: 0px;
  margin-top: 100px;
  object-fit: cover;
  width: 100%;
}


.ingresa-texto{
  color: #6a5acd; /* Púrpura claro */
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

.logo-img{
  object-fit: scale-down;
  width: 8%;
}

.seccion-desencriptar{
  align-items: center;
  background-color: #e6e6fa; /* Púrpura claro */
  border-radius: 30px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 10px;
  width: 30%;
}

.seccion-encriptar{
  align-items: center;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 10px;
  width: 70%;
}

.sin-mensajes{
  align-content: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

svg{
  margin: 5px;
}

.texto textarea{
  background-color: transparent;
  border: 0px;
  color: #4169e1; /* Azul real */
  cursor: pointer;
  display: inline-block;
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  height: 80%;
  line-height: 150%;
  width: 100%;
  outline: none;
  position: relative;
  white-space: pre-wrap;
  
}

::placeholder{
  color: #4169e1; /* Azul real */
}

/* --------------- media queries movil ---------------*/
@media only screen and (max-width:768px){
  body{
    margin: 10px;
    padding: 10px;
  }
  
  .botones-encriptar{
    flex-direction: column;
  }
  
  .btn-desencriptar{
    width: 100%;
  }
  
  .btn-encriptar{
    width: 100%;
  }
  
  .marco-interno{
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
  }
  
  .imagen-mensaje{
    display: none;
  }
  
  .seccion-desencriptar{
    width: 70%;
  }
  
  .seccion-encriptar{
    width: 100%;
  }
  .texto textarea{
    
    width: 70%;
    
  }
}



/* ----------------- media queries tablet -----------------*/
@media only screen and (min-width:768px) and (max-width:1024px){
  .marco-interno{
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
  }
  
  .imagen-mensaje{
    display: none;
    margin-top: 0;
  }
  
  .seccion-desencriptar{
    width: 70%;
  }
  
  .seccion-encriptar{
    width: 100%;
  }
  .texto textarea{
    
    width: 70%;
    
  }
}

